.siteName a{
    width: 10rem;
    color: rgb(223, 205, 255);
    position: relative;
    margin-top: 0.8rem;  
    margin-left: 1rem; 
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    font-size: 1.5rem;
}
.siteName a:hover{
    color: aliceblue;
}

.space {
    flex: 1 1 auto;
}

.fa-shopping-cart{
    font-size: 1.5rem;
    color: rgb(223, 205, 255);
    transition: all 0.4s ease-in-out;
}

.fa-shopping-cart:hover{
    color: aliceblue;
}

