.content{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  
}

.products{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    
}

a{
    text-decoration: none;
}
article .product-wrapper{
    width: 22rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    align-items: center;
    font-size: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) 100%),url(../../assets/bg18.jpg);
    color: rgb(223, 205, 255);
    transition: 0.3s;
  }
  
  article .product-wrapper:hover {
    transform: translateY(-3px);
  }

.price{
    color:rgba(174, 0, 255, 0.781);
}

.games{
    display: flex;
    max-width: 30rem;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;

}

.games a{
    color: rgb(223, 205, 255);
}

h1{
    margin-bottom: 2.5rem;
}

